@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
.poem_text{
    font-family: 'Playfair Display', serif;
    margin-top: 100px;
    font-size: 15px;
    position: relative;
    white-space: pre-wrap;
    text-align: center;
}

.author_name{
    position: absolute;
    bottom: 0;
    opacity: 1;
    right: 20px;
    //border: 1px black solid;
    padding: 20px;
}

.author_p{
    font-family: 'Kosugi', sans-serif;
    margin: 0;
    color: grey;
   
}
.author_name_design{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 40px;
    font-weight: 700;
}
.link_retour{
    font-family: 'Kosugi', sans-serif;
    margin-left: 50px;
}
.link_retour_design{
    color: black;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 30px;
    &:hover{
        color: grey;
        text-decoration:line-through;
    }
}
.first_col{
//border: 1px black solid;

}
.second_col{
 margin-bottom: 55px;

}
.third_col{
    //border: 1px black solid;
}

.poem_name{
    margin: 20px;
    text-align: center;
    font-family: 'Kosugi', sans-serif;
    letter-spacing: -1px;
    
}

.poem_page_loading{
     right:20px;
     opacity:0; 
    
}

.arrows{
    text-align: center;
    letter-spacing: 40px;
    //margin-top: 300px;
    //z-index: 1;
    font-size: 40px;
    //border: 1px black solid;
}

.date_poem{
    position: absolute;
    z-index: 1;
    top: 300px;
    //bottom: 80px;
    left: 0;
    right: 0;
    overflow: hidden;

    
}

.date_design{
    font-size: 70px;
    opacity: 0.1;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    letter-spacing: 10px;
    
}

.arrow_design{
    color: black;
    &:hover{
        color: grey;
        text-decoration: none;
    }
}

.counter{
    font-family: 'Abril Fatface', cursive;
    font-size: 60px;
    //border: 1px black solid;
    text-align: center;
    font-style: italic;
    padding-right: 30px;
}

.third_col_style{
    padding-top: 300px;
}